@import '../../styles/colors';
@import '../../styles/mixins';

.input-block {
  position: relative;

  &__wrapper {
    position: relative;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @include no-border;
    background-color: transparent;
    width: 36px;
    height: 36px;
    @include flex();
  }

  &__input {
    @include no-border();
    background-color: transparent;
    font-size: inherit;
    font-weight: 400;
    color: $color_white;
    border-bottom: 1px solid $color_white;
    padding: toEm(12) 0 toEm(14);
    width: 100%;

    &::placeholder {
      font-weight: inherit;
      font-size: inherit;
      color: $color_white;
    }

    &--is-mask {
      letter-spacing: 1px;
    }

    &--is-error {
      border-bottom-color: $color_warning;

      &::placeholder {
        color: $color_warning;
      }
    }

    &--is-warning {
      border-bottom-color: $color_warning_msg;
    }

    &--is-bold {
      font-weight: 600;
    }

    &:focus {
      &::placeholder {
        color: $color_darker_gray;
      }
    }

    &--is-dark {
      @include border(1, $color_secondary_text);
      padding: toEm(13);
      font-weight: 600;
      color: $color_secondary_text;

      &::placeholder {
        font-weight: 400;
        color: $color_secondary_text;
      }

      &.input-block__input--is-warning {
        border-color: $color_warning_msg;
      }

      &.input-block__input--is-error {
        border-color: $color_warning;
      }
    }
  }

  &__warning, &__error {
    position: absolute;
    left: 0;
    bottom: -20px;
  }

  &__warning {
    color: $color_warning_msg;
  }

  &__error {
    color: $color_warning;
  }
}