@import '../../styles/colors';
@import '../../styles/mixins';
$gap: 20px;

.order {
  @include toRem();

  &__button-wrapper {
    width: calc(50% - $gap/2);
  }

  &__inner {
    padding: toEm(20) 0 toEm(40);
  }

  &__header {
    width: 57%;
    @include flex(space-between);
    margin-bottom: toEm(20);
  }

  &__buttons {
    margin-bottom: toEm(40);
    display: flex;
    align-items: center;
    gap: $gap;
  }

  &__content {
    width: 100%;
    display: flex;
    gap: $gap;
  }

  &__blocks {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--without-gap {
      gap: 0;
    }
  }

  &__blocks-inputs {
    display: flex;
    gap: $gap;
    flex-wrap: wrap;
  }

  &__list-box {
    height: 552px;
    width: 40.5%;
    @include border(1, $color_text_gray);
    padding: toEm(20);
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  &__input-label {
    width: calc(50% - $gap/2);
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-text {
      font-weight: 600;
      @include toRem(14);
      line-height: 1.5;
      color: $color_text_gray;
    }
  }

  &__list {
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: $gap;

    &::-webkit-scrollbar {
      width: 0;
    }

    & li {
      list-style: none;
    }
  }

  &__list-title, &__total-price {
    font-weight: 800;
    @include toRem(24);
    line-height: 1.2;
    color: $color_text_gray;
  }

  &__total {
    @include flex(space-between)
  }

  &__total-text {
    font-weight: 600;
    @include toRem(16);
    line-height: 1.4;
    color: $color_text_gray;
  }

  &__blocks-check {
    font-weight: 700;
    @include toRem(18);
    line-height: 1.2;
    color: $color_text_gray;
  }

  &__radio-inputs {
    position: relative;
    width: 100%;
    display: flex;
    gap: $gap;

    & div {
      width: calc(50% - $gap/2);
    }
  }

  &__radio-error {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color_warning;
  }

  &__card-images {
    display: flex;
    gap: 17px;
    opacity: 0;
    transform: translateY(50%);
    transition: transition(transform, 0.2), transition(opacity);

    &--is-visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__card-image {
    width: 120px;
    height: 48px;
    object-fit: cover;
  }
}