@import '../../styles/colors';
@import '../../styles/mixins';

.menu {
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100%;
  transform: translateX(-100%);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color_screen;
  display: flex;
  flex-direction: column;
  padding: toEm(35) toEm(16) toEm(16);
  transition: transition(transform);
  border-right: 1px solid $color_darker_gray;

  &--is-visible {
    transform: translateX(0);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__content-item {
    @include no-border;
    background-color: transparent;
    text-decoration: none;
  }
}