@import '../../styles/colors';
@import '../../styles/mixins';

.info {
  @include flex;

  &__content {
    padding: toEm(30);
    @include flex;
    text-align: center;
    background-color: $color_screen;
    max-width: 480px;
    border-bottom: 5px solid $color_warning;

    &--is-success {
      border-bottom-color: $color_sucsess;
    }

    & h2.title {
      margin-bottom: 0;
    }

    @include media(tn) {
      max-width: 100%;
    }
  }
}
