$color_red: #8D021F;
$color_secondary_bage: #F3EDE2;
$color_screen: #FFFCFA;
$color_pale_bage: #EFE9E6;
$color_dividers: #BFBBB2;
$color_black: #000000;
$color_almost_black: #121212;
$color_text_gray: #232323;
$color_gray_dark: #373737;
$color_secondary_text: #595959;
$color_darker_gray: #8F8F8F;
$color_disabled: #EDEDED;
$color_light_gray: #F8F8F8;
$color_white: #FFFFFF;
$color_warning: #DE3C63;
$color_warning_msg: #EEA620;
$color_sucsess: #37CB95;


