@font-face {
  font-family: 'Mont';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 300;
  src: url(../assets/fonts/Mont-Light.woff);
};

@font-face {
  font-family: 'Mont';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: url(../assets/fonts/Mont-Regular.woff);
};

@font-face {
  font-family: 'Mont';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 600;
  src: url(../assets/fonts/Mont-SemiBold.woff);
};

@font-face {
  font-family: 'Mont';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 700;
  src: url(../assets/fonts/Mont-Bold.woff);
};

@font-face {
  font-family: 'Mont';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 800;
  src: url(../assets/fonts/Mont-Heavy.woff);
};
