@import '../../styles/mixins';
@import '../../styles/colors';

.select {
  width: calc(50% - 10px);
  position: relative;
  @include border();
  transition: transition(border-color);

  &--is-full {
    width: 100%;

    .select__content, .select__button {
      padding: toEm(12) toEm(13);
    }
  }

  &:has(&__content:hover), &:has(&__content:focus) {
    border-color: $color_gray_dark;

    & path {
      fill: $color_gray_dark;
    }
  }

  &--is-disabled {
    border-color: $color_disabled !important;

    & path {
      fill: $color_disabled !important; 
    }

    .select__content {
      cursor: default;
    }
  }

  &__content {
    position: relative;
    z-index: 0;
    cursor: pointer;
    @include no-border();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toEm(13, 16) toEm(24, 16);
    transition: transition(background-color);

    &--is-open {
      z-index: 3;
      background-color: $color_pale_bage;
    }

    &--is-disabled {
      cursor: default;
    }
  }

  & svg {
    width: 22px;
    height: 12px;
    transition: transition(fill);
  }

  &__text {
    color: $color_gray_dark;
    font-weight: 400;
    @include toRem(16);
    line-height: 1.4;
  }

  &__list {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: translate(-1px, 100%);
    width: calc(100% + 2px);
    list-style: none;
    @include border;
    border-bottom: none;
    max-height: 132px;
    overflow: auto; 

    &::-webkit-scrollbar {
      width: 0;
    }

    &--is-visible {
      z-index: 3;
      visibility: visible;
    }
  }

  &__list-item {
    border-bottom: 1px solid $color_secondary_text;
  }

  &__button {
    cursor: pointer;
    width: 100%;
    padding: toEm(13) toEm(24);
    background-color: $color_screen;
    @include no-border;
    text-align: left;
  }

  &__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
  }
}