@import '../../styles/mixins';
@import '../../styles/variables';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  @include flex;
  background-color: $dark-bg;

  &:first-child {
    z-index: 2;
  }

  @include media(sm) {
    padding: 0 toEm(10);
  }

  @include media(tn) {
    padding: 0 toEm(10);
  }
}