@import '../../styles/mixins';
@import '../../styles/colors';

.header {
  padding: toEm(10) 0;
  border-bottom: 1px solid $color_darker_gray;

  &__inner {
    @include flex(space-between);
  }

  &__link {
    @include no-border();
  }

  &__logo {
    width: 78px;
    height: 60px;
  }

  &__content {
    @include flex();
    gap: 40px;
  }
}

.navbar {
  @include flex();
  gap: 40px;

  &__link {
    outline: none;
    @include flex;
    transition: transition(transform);
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__link:hover, &__link:focus, &__button:hover, &__button:focus {
    text-align: center;
    transform: scale(1.1);
  }

  &__button {
    @include flex;
    cursor: pointer;
    font-weight: 600;
    @include toRem(16);
    line-height: 1.4;
    color: $color_text_gray;
    width: max-content;
    @include no-border();
    background-color: transparent;
    transition: transition(color),  transition(transform);

    &:hover, &:focus {
      color: $color_warning;
    }
  }
}