@import '../../styles/mixins';
@import '../../styles/colors';

.footer {
  padding: toEm(24) 0 toEm(40);
  background-color: $color_text_gray;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}