@import '../../styles/colors';
@import '../../styles/mixins';
$gap: 20px;

.details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include toRem(16);

  &__navigation-wrapper {
    margin-bottom: toEm(40);

    @include media(sm) {
      margin-bottom: toEm(8);
    }
  }

  &__wrapper {
    flex-grow: 1;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: toEm(38) 0 toEm(50);

    @include media(sm) {
      padding: toEm(8) 0 toEm(16);
    }
  }

  &__image-block {
    background-color: $color_pale_bage;
    height: 100%;
    @include flex();

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    gap: $gap;
    margin-bottom: $gap;

    @include media(sm) {
      flex-direction: column;
    }

    &-item {
      width: calc(50% - $gap/2);

      @include media(bmd) {
        height: 415px;
      }

      @include media(sm) {
        width: 100%;

        &:first-of-type {
          width: calc(100% + 32px);
          position: relative;
          transform: translateX(-16px);
        }

        &:last-of-type {
          height: auto;
        }
      }
    }
  }

  &__price {
    font-weight: 800;
    @include toRem(24);
    color: $color_text_gray;

    @include media(sm) {
      & {
        width: max-content;
        position: relative;
        transform: translateY(200%);
      }
    }
  }

  &__description-block, &__description-header,&__description, &__description-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__description-header, &__description {
    gap: 24px;
  }

  &__description-block, &__description-wrapper {
    gap: 36px;

    @include media(bmd) {
      gap: 24px;
    }
  }

  &__top-title-block {
    text-align: center;
    padding: toEm(16);
  }

  &__description-wrapper {
    overflow-x: hidden;

    @include media(bmd) {
      max-height: 130px;
      overflow-y: auto;
    }

    @include media(sm) {
      height: max-content;
      overflow: visible;
      max-height: none;
    }

    ::-webkit-scrollbar {
      width: 0;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &__buttons-wrapper {
    display: flex;
    gap: $gap;

    @include media(bmd) {
      flex-direction: column;
    }

    @include media(sm) {
      & .counter {
        align-self: flex-end;
      }
    }
  }

  &__description {
    padding-bottom: toEm(36, 16);
    border-bottom: 1px solid $color_dividers;
  }

  &__taste {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      font-weight: 700;
      @include toRem(18);
      line-height: 1.2;
      color: $color_almost_black;
    }

    &-text {
      font-weight: 400;
      @include toRem(16);
      line-height: 1.4;
      color: $color_text_gray;
    }
  }

  &__cards {
    display: flex;
    gap: $gap;

    @include media(sm) {
      flex-wrap: wrap;
    }
  }

  &__card {
    width: calc(25% - $gap/3);
    padding: toEm(24, 16); 
    background-color: $color_pale_bage;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include media(sm) {
      width: calc(50% - $gap/2);
    }

    @include media(tn) {
      width: calc(100%);
    }


    &-title {
      font-weight: 600;
      @include toRem(16);
      line-height: 1.4;
      text-align: center;
      color: $color_text_gray;
    }

    &-text {
      text-align: center;
      font-weight: 600;
      @include toRem(14);
      line-height: 1.5;
      color: $color_secondary_text;
      max-height: 65px;
      overflow-y: hidden;
    }
  }
}