@import '../../styles/mixins';
$gap: 20px;

.product-list {
  width: calc(69% - $gap);
  display: flex;
  flex-direction: column;
  gap: $gap;

  &__header {
    display: flex;
    gap: $gap;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  }
}
