@import '../../styles/mixins';
$gap: 20px;

.product-list {
  position: relative;
  width: calc(69% - $gap);
  display: flex;
  flex-direction: column;
  gap: $gap;

  &__button {
    @include toRem(18);
    color: $color_gray_dark;
    @include no-border;
    background-color: transparent;
  }

  @include media(sm) {
    width: calc(60% - $gap);

    & .select {
      width: 100%;
    }
  }

  @include media(bsm) {
    width: 100%;
  }

  &__header {
    display: flex;
    gap: $gap;
    opacity: 0;
    transform: scale(0);
    transition: transition(all);

    &--is-visible {
      opacity: 1;
      transform: scale(1);
    }

    @include media(sm) {
      flex-wrap: wrap;
    }
  }

  &__content {
    width: 100%;
  }

  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: $gap;
    margin-bottom: 20px;
  }

  &__list-item {
    width: calc(50% - 10px);

    @include media(sm) {
      width: 100%;
    }
  }

  &__info {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: toEm(60) toEm(20);
    text-align: center;
    @include flex;
    
    & .title {
      animation: visible 0.3s linear;
    }
  }
}

@keyframes visible {
  0% {
    opacity: 0;
    scale: 0;
  } 100% {
    opacity: 1;
    scale: 1;
  }
}
